<div class="row fullWidth">
    <div class="small-12 medium-12 large-7 columns">
        <br>
        <h3 class="subheader">Apliakcje Business</h3>
        <div class="expanded button-group">
            <a class="button" href="/strony-internetowe-economy">Strony Economy</a>
            <a class="button" href="/strony-internetowe-premium">Strony Premium</a>
            <a class="hollow button" href="/aplikacje-biznesowe">Aplikacje Business</a>
        </div>
        <div class="expanded button-group">
            <a class="button" href="/fotografowanie">Fotografowanie</a>
            <a class="button" href="/filmowanie-dronem">Filmowanie Dronem</a>
        </div>
        <h4 class="subheader h5s">Dedykowana aplikacja dla biznesu</h4>
        <p>Aplikacje www przeznaczone są dla firm potrzebujących indywidualnych rozwiązań, upraszczających pracę w wielu
            dziedzinach działalności.</p>
        <p>Każdy klient jest indywidualistą. I każdy ma własne wymagania. Dotyczy to również jego firmy i sposobu
            organizacji pracy, w której bardzo pomocne
            okazują się różnego rodzaju aplikacje internetowe. Rozwiązania szablonowe nie wpisują się w niczyje
            potrzeby. Skoro każda firma jest inna,
            potrzebuje innych rozwiązań.</p>
        <h5 class="subheader h5s">Projektowanie i tworzenie aplikacji na zamówienie</h5>
        <p>Stworzymy dla Ciebie aplikację, która będzie miała spersonalizowany charakter. Taka aplikacja zagwarantuje
            wydajną obsługę Twojej firmy. Osiągniemy
            to zaczynając od analizy Twoich wymagań i określenia funkcjonalności, które powinna dostarczać usługa. Jeśli
            funkcjonalności będą zgodne z
            założeniami, wdrożymy aplikację i przeszkolimy Twoich pracowników lub Ciebie, jeśli wyrazisz takie
            życzenie.</p>
        <p>Podejmując się wyzwania, jakim jest stworzenie aplikacji dedykowanej lub mobilnej, jesteśmy dumni, że firma
            nam zaufała i powierzyła to zadanie.</p>
        <h5 class="subheader h5s">Jedyna prawdziwa e-Usługa</h5>
        <p>Zdecydowana większość usług internetowych na rynku jest półautomatyczna. Czyli wymaga do działania ingerencji
            człowieka. Oferujemy zbudowanie pełnowartościowej e-Usługi – to usługa, której świadczenie jest
            zautomatyzowane i która do działania nie wymaga udziału człowieka.</p>
        <p>Inteligenty program może być postrzegany jako automatyczny pracownik, który wspiera biznes, zawsze z pełnym
            zaangażowaniem.</p>
        <a class="button" data-toggle="panel">Definicja e-Usługa Wiki</a>
        <div style="display: none" class="callout" id="panel" data-toggler
             data-animate="hinge-in-from-top hinge-out-from-top">
            <p><b>E-usługa</b> – usługa świadczona drogą elektroniczną przez sieć telekomunikacyjną, a w tym sieć
                komputerową, np. Internet, z wykorzystaniem
                technologii informacyjnej, której świadczenie jest zautomatyzowane i która wymaga niewielkiego udziału
                człowieka.</p>
            <p>Następujące usługi, w szczególności jeśli świadczone są przez Internet lub inną sieć elektroniczną,
                wchodzą w zakres usług elektronicznych:</p>
            <ol>
                <li>Ogólnie produkty w formie cyfrowej, łącznie z oprogramowaniem, jego modyfikacjami i nowszymi
                    wersjami oprogramowania.
                </li>
                <li>Usługi umożliwiające lub wspomagające obecność przedsiębiorstw lub osób w sieci elektronicznej,
                    takie jak witryna lub strona internetowa.
                </li>
                <li>Usługi generowane automatycznie przez komputer i przesyłane internetem lub siecią elektroniczną w
                    odpowiedzi na określone dane wprowadzone
                    przez usługobiorcę.
                </li>
                <li>Odpłatne przekazywanie prawa do wystawiania na aukcji towaru lub usługi za pośrednictwem witryny
                    internetowej działającej jako rynek
                    on-line, na którym potencjalni kupcy przedstawiają swoje oferty przy wykorzystaniu automatycznych
                    procedur oraz na którym strony są
                    informowane o dokonaniu sprzedaży za pomocą poczty elektronicznej generowanej automatycznie przez
                    komputer.
                </li>
                <li>Pakiety usług internetowych oferujących dostęp do informacji, w których aspekty telekomunikacyjne są
                    natury pomocniczej lub drugorzędnej,
                    czyli pakiety wykraczające poza oferowanie samego dostępu do internetu i obejmujące inne elementy,
                    takie jak strony, które umożliwiają
                    dostęp do aktualnych wiadomości, informacji meteorologicznych lub turystycznych, gier, umożliwiają
                    hosting stron internetowych, dostęp do
                    grup dyskusyjnych, poczty elektronicznej itp.
                </li>
            </ol>
        </div>
    </div>
    <div class="small-12 medium-12 large-5 columns  "><br>
        <h3 class="subheader">Twoja firma dostanie wiatru w żagle</h3>
        <div class="row small-up-1 medium-up-1 large-up-1" data-equalizer data-equalize-by-row="true">
            <div class="column hide-for-small-only"><img src="/style/images/A25.jpg"></div>
        </div>
        <br>
        <div class="callout primary">
            <div class="row">
                <div class="small-6 columns">
                    <ul class="no-bullet  float-left">
                        <li><h5 class="h5s">Zacznijmy e-Rejs od www</h5></li>
                        <li>Aplikacja Web</li>
                        <li>Produktywność, indywidualne rozwiązanie</li>
                    </ul>

                </div>
                <div class="small-6 columns">
                    <img class="float-right" src="/style/images/wd.svg">
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $(document).foundation();
    });

</script>

