<div class="row fullWidth">
    <div class="small-12 medium-12 large-12 columns k1">
        <br>
        <div class="oautorze show-for-medium"><a href='/o-autorze'>O Autorze</a></div>
        <h3 class="subheader">Blog
            <span class="secondary badge">N</span>
            <span class="success badge">O</span>
            <span class="alert badge">D</span>
            <span class="warning badge">E</span>
        </h3>
        <div class="row collapse">
            <div class="medium-3 columns k2">
                <ul class="tabs vertical" id="example-vert-tabs" data-tabs>
                    <li class="tabs-title  is-active" aria-selected="true"><a href="#nodeblog">Start</a></li>
                    <li class="tabs-title"><a href="#manifestagile">Manifest Agile Przypomnienie</a></li>
                </ul>
            </div>
            <div class="medium-9 columns">
                <div class="tabs-content vertical" data-tabs-content="example-vert-tabs">
                    <div class="tabs-panel is-active" id="nodeblog">
                        <div class="row">
                            <div class="medium-12 large-9 columns k3">

                                <h3 class="subheader">Blog o technologii JavaScript</h3>
                                <div class="callout primary ">

                                    <h4 class="">[ Angular, Express, TypeScript, ES6, NoSQL, NodeJS ]</h4>
                                </div>
                                <h4 class="subheader">Założenia</h4>
                                <ul class="no-bullet przesun mz">
                                    <li><p>Po pierwsze, buduję ten blog z zamiarem uporządkowania merytorycznej wiedzy o
                                        narzędziach JS, których używam.</p></li>
                                    <li><p>Po drugie, staram się wyjaśniać w prosty sposób to co zajmowało mi więcej
                                        czasu.</p></li>
                                    <li><p>Po trzecie wreszcie, życzę, że ta wiedza pomoże Tobie tworzyć bardziej
                                        inteligentne i zarazem eleganckie web
                                        aplikacje.</p></li>
                                </ul>
                                <br>
                                <h4 class="subheader">Motyw</h4>
                                <h5 class="subheader h5s">Strona www to nie tylko grafika i text ale przede wszytkim
                                    rozwiązanie czyjegoś problemu.</h5>
                                <h5 class="subheader h5s">Kreatywne spojrzenie otwieraja szeroki horyzont możliwości
                                    jego rozwiązania.</h5>
                                <br>
                                <h3 class="alert2">[ MODERNIZACJA ]</h3>
                                <br>
                            </div>
                            <div class="hide-for-small-only hide-for-medium-only medium-3 columns">
                                <img class="float-right" src="/style/images/A9.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="tabs-panel" id="manifestagile">
                        <div class="row">
                            <div class="medium-12 large-9 columns">
                                <div>
                                    <div id="ma" data-magellan-target="sticky-navigation">
                                        <h1 class="subheader">Manifest programowania zwinnego</h1>
                                        <p> Odkrywamy nowe metody programowania dzięki praktyce w programowaniu
                                            i wspieraniu w nim innych.
                                            W wyniku naszej pracy, zaczęliśmy bardziej cenić:</p>
                                        <ul class="no-bullet przesun mz">
                                            <li>Ludzi i interakcje od procesów i narzędzi</li>
                                            <li>Działające oprogramowanie od szczegółowej dokumentacji</li>
                                            <li>Współpracę z klientem od negocjacji umów</li>
                                            <li>Reagowanie na zmiany od realizacji założonego planu.</li>
                                        </ul>
                                        <p>Oznacza to, że elementy wypisane po prawej są wartościowe,
                                            ale większą wartość mają dla nas te, które wypisano po lewej.</p>
                                        <h3 class="subheader">Założenia Manifestu Programowania Zwinnego</h3>
                                        <br>
                                    </div>

                                    <div class="callout secondary large" id="12z"
                                         data-magellan-target="sticky-navigation">
                                        <h5>Wyznajemy następujące zasady:</h5>
                                        <ol class="mz">
                                            <li>Najwyższy priorytet ma dla nas zadowolenie klienta
                                                dzięki wczesnemu i ciągłemu wdrażaniu
                                                wartościowego oprogramowania.
                                            </li>
                                            <li>Bądźcie gotowi na zmiany wymagań
                                                nawet na późnym etapie jego rozwoju.
                                                Procesy zwinne wykorzystują zmiany
                                                dla zapewnienia klientowi konkurencyjności.
                                            </li>
                                            <li>Dostarczajcie funkcjonujące oprogramowanie często,
                                                w kilkutygodniowych lub kilkumiesięcznych odstępach.
                                                Im częściej, tym lepiej.
                                            </li>
                                            <li> Zespoły biznesowe i deweloperskie muszą ściśle ze sobą
                                                współpracować w codziennej pracy przez cały czas trwania
                                                projektu.
                                            </li>
                                            <li>Twórzcie projekty wokół zmotywowanych ludzi.
                                                Zapewnijcie im potrzebne środowisko oraz wsparcie i zaufajcie, że
                                                wykonają powierzone zadanie.
                                            </li>
                                            <li>Najbardziej efektywnym i wydajnym sposobem przekazywania
                                                informacji zespołowi deweloperskiemu i wewnątrz niego jest
                                                rozmowa twarzą w twarz.
                                            </li>
                                            <li> Działające oprogramowanie jest podstawową miarą postępu.</li>
                                            <li>Procesy zwinne umożliwiają zrównoważony rozwój.
                                                Sponsorzy, deweloperzy oraz użytkownicy powinni być w stanie
                                                utrzymywać równe tempo pracy.
                                            </li>
                                            <li>Ciągłe skupienie na technicznej doskonałości i dobrym
                                                projektowaniu zwiększa zwinność.
                                            </li>
                                            <li>Prostota – sztuka minimalizowania ilości koniecznej pracy – jest
                                                kluczowa.
                                            </li>
                                            <li>Najlepsze rozwiązania architektoniczne, wymagania i projekty
                                                pochodzą od samoorganizujących się zespołów.
                                            </li>
                                            <li>W regularnych odstępach czasu zespół analizuje możliwości
                                                poprawy swojej wydajności, a następnie dostraja i dostosowuje
                                                swoje działania do wyciągniętych wniosków.
                                            </li>
                                        </ol>
                                    </div>

                                    <div class="callout biel large docs-heading"
                                         data-magellan-target="sticky-navigation2">
                                        <h5>Autorzy</h5>
                                        <ul class="mz7 inl">
                                            <li>Kent Beck,</li>
                                            <li>Mike Beedle,</li>
                                            <li>Arie van Bennekum,</li>
                                            <li>Alistair Cockburn,</li>
                                            <li>Ward Cunningham,</li>
                                            <li>Martin Fowler,</li>
                                            <li>James Grenning,</li>
                                            <li>Jim Highsmith,</li>
                                            <li>Andrew Hunt,</li>
                                            <li>Ron Jeffries,</li>
                                            <li>Jon Kern,</li>
                                            <li>Brian Marick,</li>
                                            <li>Robert C. Martin,</li>
                                            <li>Steve Mellor,</li>
                                            <li>Ken Schwaber,</li>
                                            <li>Jeff Sutherland,</li>
                                            <li>Dave Thomas</li>
                                        </ul>
                                    </div>
                                    <span class="label">Manifest Agile</span>
                                </div>
                                <br>
                                <br>
                                <br>
                            </div>
                            <div class="hide-for-small-only hide-for-medium-only medium-3 columns obliczany">
                                <div class="large-3 columns" data-sticky-container>
                                    <nav id="#target" class="columns sticky is-stuck" data-sticky
                                         data-sticky-on="small">
                                        <ul class="vertical menu tp obliczany2" data-magellan>
                                            <li><p class="subheader leg ">SPIS TREŚCI</p></li>
                                            <li><a href="#ma" class="pierwszy active2 active3">Założenia</a></li>
                                            <li><a href="#12z" class="active3">12 Zasad</a></li>
                                        </ul>
                                        <ul class="vertical menu mz" data-magellan>
                                            <li><p class="subheader leg ods">STRONA PROJEKTU</p></li>
                                            <li><a id="target2" href="http://www.agilemanifesto.org/iso/pl/">Manifest
                                                Agile</a></li>

                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--następny tu-->

                </div>
            </div>
        </div>
    </div>
    <script>

        $(document).foundation();

        /*   $('a[href^="#"]').click(function() {
         $('a').each(function () {
         $(this).removeClass('active2');
         });
         $(this).addClass('active2');
         });*/

        $(document).ready(function () {

            $(document).on("scroll", onScroll);

            function onScroll() {
                var scrollPos = $(document).scrollTop();
                $('ul.tp > li > a').each(function () {
                    var currLink = $(this);
                    var refElement = $(currLink.attr("href"));
                    if (refElement.position().top <= scrollPos && refElement.position().top + refElement.height() > scrollPos) {
                        $('ul.tp > li > a').removeClass("active2");
                        currLink.addClass("active2");
                    }
                    else {
                        currLink.removeClass("active2");
                    }
                });
            }

            var iScrollPos = 100;

            $(window).scroll(function () {
                var iCurScrollPos = $(this).scrollTop();
                if (iCurScrollPos < 99) {
                    $(".pierwszy").addClass('active2');
                    $(".sticky").removeClass('is-at-top');
                }
                else if (iCurScrollPos > iScrollPos) {
                    $(".sticky").addClass('is-at-top');
                }
                else if (iCurScrollPos < iScrollPos) {
                    $(".sticky").removeClass('is-at-top');
                } else {
                    iScrollPos = iCurScrollPos;
                }
            });

        });

        //    funkcja pomocnicza do obliczania szerokości linku sticky

        $(window).resize(function () {
            var width = $('div.obliczany').width();
            $('a.active3').width(width - 46);
        });

        $(".tabs-title").click(function () {
            var ekran = $('div.k1').width();
            var lewa = $('div.k2').width();
            var srodek = $('div.k3').width();
            var suma = lewa + srodek;
            var prawa = ekran - suma;

            $(window).ready(function () {
                $('a.active3').width(prawa - 109);
            });
        });
    </script>

