<div class="row fullWidth">
    <div class="small-12 medium-12 large-7 columns">
        <br>
        <h3 class="subheader">Filmowanie Dronem</h3>
        <div class="hide button-group medium-collapse">
            <a class="hollow button" href="/strony-internetowe-economy">Strony www Economy</a>
            <a class="hollow button" href="/strony-internetowe-premium">Strony www Premium</a>
            <a class="hollow button" href="/aplikacje-biznesowe">Aplikacje Web</a>
            <a class="hollow button" href="/fotografowanie">Fotografowanie</a>
            <a class="button" href="/filmowanie-dronem">Filmowanie Dronem</a>
        </div>

        <div class="show-for-small  expanded button-group">
            <a class="button" href="/strony-internetowe-economy">Strony Economy</a>
            <a class="button" href="/strony-internetowe-premium">Strony Premium</a>
            <a class="button" href="/aplikacje-biznesowe">Aplikacje Business</a>
        </div>
        <div class="show-for-small  expanded button-group">
            <a class="button" href="/fotografowanie">Fotografowanie</a>
            <a class="hollow button" href="/filmowanie-dronem">Filmowanie Dronem</a>
        </div>

        <h4 class="subheader h5s">Filmowanie z lotu ptaka</h4>
        <p>Filmowanie miejsc, obiektów oraz osób. Tworzenie filmów reklamowych dla firm, pensjonatów, hoteli.</p>
        <div class="flex-video widescreen">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/n8d79M0LtfY" frameborder="0"
                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
    <div class="small-12 medium-12 large-5 columns  "><br>
        <h3 class="subheader">Twoja firma dostanie wiatru w żagle</h3>
        <div class="row small-up-1 medium-up-1 large-up-1" data-equalizer data-equalize-by-row="true">
            <div class="column hide-for-small-only"><img src="/style/images/A25.jpg"></div>
        </div>
        <br>
        <div class="callout primary">
            <div class="row">
                <div class="small-6 columns">
                    <ul class="no-bullet  float-left">
                        <li><h5 class="h5s">Zacznijmy e-Rejs od www</h5></li>
                        <li>Video prezentacja</li>
                        <li>Nowa perspektywa, niespotykany efekt</li>
                    </ul>

                </div>
                <div class="small-6 columns">
                    <img class="float-right" src="/style/images/wd.svg">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(document).foundation();
    });

</script>

