<div class="row fullWidth">
    <div class="small-12 medium-12 large-7 columns">
        <br>
        <h3 class="subheader">Fotografowanie</h3>
        <div class="expanded button-group">
            <a class="button" href="/strony-internetowe-economy">Strony Economy</a>
            <a class="button" href="/strony-internetowe-premium">Strony Premium</a>
            <a class="button" href="/aplikacje-biznesowe">Aplikacje Business</a>
        </div>
        <div class="expanded button-group">
            <a class="hollow button" href="/fotografowanie">Fotografowanie</a>
            <a class="button" href="/filmowanie-dronem">Filmowanie Dronem</a>
        </div>

        <h4 class="subheader h5s">Fotografia reklamowa</h4>
        <p>Fotografowanie miejsc, obiektów oraz osób. Tworzenie zdjęć reklamowych dla firm, pensjonatów, hoteli.</p>

        <div class="orbit " role="region" aria-label="Fotografia Pensjonatów nad Morzem" data-orbit
             data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">

            <ul class="orbit-container">
                <button class="orbit-previous"><span class="show-for-sr">Poprzedni Slajd</span>&#9664;&#xFE0E;</button>
                <button class="orbit-next"><span class="show-for-sr">Następny Slajd</span>&#9654;&#xFE0E;</button>
                <li class="is-active orbit-slide">
                    <img class="orbit-image" src="/style/images/A30.jpg" alt="Space">
                    <figcaption class="orbit-caption">Fotografia Pensjonatów Łeba.</figcaption>
                </li>
                <li class="orbit-slide">
                    <img class="orbit-image" src="/style/images/A31.jpg" alt="Space">
                    <figcaption class="orbit-caption">Fotografia Pensjonatów Ustka!</figcaption>
                </li>
                <li class="orbit-slide">
                    <img class="orbit-image" src="/style/images/A33.jpg" alt="Space">
                    <figcaption class="orbit-caption">Fotografia Pensjonatów Władysławowo</figcaption>
                </li>
                <li class="orbit-slide">
                    <img class="orbit-image" src="/style/images/A34.jpg" alt="Space">
                    <figcaption class="orbit-caption">Fotografia Pensjonatów Jastrzębia Góra</figcaption>
                </li>
            </ul>
            <nav class="orbit-bullets">
                <button class="is-active" data-slide="0"><span
                        class="show-for-sr">Fotografia pensjonatów Łeba.</span><span
                        class="show-for-sr">Aktualny  Slajd</span></button>
                <button data-slide="1"><span class="show-for-sr">Fotografia pensjonatów Ustka.</span></button>
                <button data-slide="2"><span class="show-for-sr">Fotografia pensjonatów Władysławowo.</span></button>
                <button data-slide="3"><span class="show-for-sr">Fotografia pensjonatów Jastrzębia Góra.</span></button>
            </nav>
        </div>
    </div>
    <div class="small-12 medium-12 large-5 columns  "><br>
        <h3 class="subheader">Twoja firma dostanie wiatru w żagle</h3>
        <div class="row small-up-1 medium-up-1 large-up-1" data-equalizer data-equalize-by-row="true">
            <div class="column hide-for-small-only"><img src="/style/images/A25.jpg"></div>
        </div>
        <br>
        <div class="callout primary">
            <div class="row">
                <div class="small-6 columns">
                    <ul class="no-bullet  float-left">
                        <li><h5 class="h5s">Zacznijmy e-Rejs od www</h5></li>
                        <li>Fotografia reklamowa</li>
                        <li>Ciekawe ujęcia, uderzające doznanie</li>
                    </ul>

                </div>
                <div class="small-6 columns">
                    <img class="float-right" src="/style/images/wd.svg">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(document).foundation();
    });
</script>

