<div class="row fullWidth">
    <br>
    <div class="columns small-12">
        <div class="columns small-12 medium-12 large-8 callout biel">
            <h3 class="subheader h5s">Gwarancja jakości - to Twój stabilny biznes!</h3>
            <p>Gwarancja SLA (Service Level Agreement) to gwarancja jakości usług, czyli pisemne zobowiązanie
                usługodawcy określające gwarantowany czas
                dostępności usług i naprawy ewentualnej awarii. Niedotrzymanie warunków umowy SLA stanowi dla
                usługobiorcy podstawę do złożenia reklamacji i
                otrzymania rekompensaty. Usługa jest przeznaczona dla Klientów biznesowych, korzystających z usług
                Firelink.</p>
            <h5 class="subheader h5s">Gwarancja SLA to:</h5>
            <ul class="no-bullet">
                <li>Wysoka jakość świadczonych usług</li>
                <li>Bezpieczeństwo ciągłości działania biznesu</li>
                <li>Bonifikata w przypadku niedotrzymania warunków umowy</li>
            </ul>
            <h4 class="subheader h5s">Monitorowanie działania poszczególnych usług</h4>
            <p>Usługodawca zobowiązuje się do dołożenia wszelkich starań w celu zapewnienia najwyższego możliwego
                poziomu dostępności świadczonych przez niego
                usług. W celu zapewnienia natychmiastowej reakcji na niepożądane zmiany oraz usunięcie awarii zanim
                zostanie ona zgłoszona przez klienta
                dostępność usług jest monitorowana 24h na dobę.</p>

            <h4 class="subheader h5s">Czas reakcji</h4>
            <p>Czas reakcji na zgłoszenie oznacza maksymalny okres czasu, który może upłynąć:</p>
            <ul class="margin">
                <li>Maksymalny czas reakcji na awarię (faktyczne podjęcie działań) - 1 godzina w trybie 24/7/365.</li>
                <li>Gwarantowane usunięcie awarii sprzętowej - 8 godziny w trybie 24/7/365.</li>
            </ul>
            <h4 class="subheader h5s">Kopia bezpieczeństwa</h4>
            <p>Usługodawca zobowiązuje się do wykonywania regularnych kopii bezpieczeństwa danych przechowywanych przez
                Abonentów na serwerach Usługodawcy. Tryb
                sporządzania kopii bezpieczeństwa zależy od specyfikacji wykupionego przez klienta pakietu backupu.</p>
            <h4 class="subheader h5s">Gwarancja dostępności usług</h4>
            <p>Gwarantowany czas dostępności usług wynosi 99,5 % czasu w miesiącu kalendarzowym. </p>
            <h4 class="subheader h5s">Rekompensaty</h4>
            <p>W przypadku niedotrzymania przez Usługodawcę określonego wyżej poziomu dostępności usług, Abonentowi
                przysługuje rekompensata w postaci
                przedłużenia okresu ważności usługi hostingowej (bieżącego okresu rozliczeniowego) o 24 godzin za każdą
                rozpoczętą godzinę niedostępności usług,
                ponad określony poziom dostępności usług (99,5%). Rekompensata udzielana jest na wniosek Abonenta.</p>
        </div>
        <div class="columns small-12 medium-12 large-4 callout secondary">
            <h4 class="subheader h5s">Wyjątki</h4>
            <p>Zastosowanie Dokumentu SLA jest wyłączone w przypadku:</p>
            <ul>
                <li>wystąpienia przerwy w pracy sieci w związku z zaplanowanymi pracami konserwacyjnymi lub mającymi na
                    celu rozbudowę sieci - pod warunkiem
                    powiadomienia Klientów z co najmniej 12 godzinnym wyprzedzeniem,
                </li>
                <li>wystąpienia awarii lub przerwy w pracy urządzeń, które nie są częścią sieci, a które są niezbędne
                    przy świadczeniu usług hostingowych,
                </li>
                <li>wystąpienia awarii, której przyczyną jest samodzielne modyfikowanie składników systemu przez klienta
                    lub osoby trzecie, za które operator
                    nie ponosi odpowiedzialności.
                </li>
            </ul>
            <p>Dokument SLA nie obejmuje awarii komponentów systemu nie wchodzących w skład oprogramowania
                udostępnianego przez operatora w związku ze świadczeniem usług hostingowych.</p>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(document).foundation();
    });
</script>