<div class="row fullWidth">
    <div class="small-12 medium-12 large-8 columns">
        <br>
        <img class="float-right svn show-for-small-only" src="/style/images/napis8.svg">
        <img class="float-right svn show-for-medium-only" src="/style/images/napis11.svg">
        <div class="small-12 columns">
            <h3 class="hide-for-small-only hide-for-medium-only subheader h5s">Specjalizacja</h3>
            <img class="float-right svn hide-for-small-only hide-for-medium-only" src="/style/images/napis11.svg">
            <br class="hide-for-medium-only">
            <h4 class="subheader">Aplikacje dla biznesu</h4>
            <h5 class="subheader h5s">Aplikacje, usługi internetowe dla małego i średniego biznesu
            </h5>
            <p class="subheader">Stworzymy strategię wprowadzenia innowacji IT oraz wdrożymy dedykowane rozwiązania na
                miarę Twoich potrzeb.</p>
            <p class="subheader">Podniesiemy efektywność Twojego biznesu poprzez analizę i optymalizację procesów
                biznesowych, migrując je do rozwiązań internetowych.</p>
        </div>
        <div class="small-12 columns"><br>
            <h4 class="subheader">Profesjonalne strony internetowe dla firm</h4>
            <h5 class="subheader h5s">Budowa oraz promocja marki w internecie</h5>
            <p class="subheader">Zaprojektujemy i stworzymy dowolną stronę internetową dla Twojej marki, zarówno do
                promocji i codziennej pracy.</p>
            <p class="subheader">Pomożemy w promocji Twojego produktu lub usługi w internecie, zintegrujemy działania
                marketingowe w social media, SEO i SEM.</p>
        </div>
        <div class="row">
            <div class="small-12 columns"><br>
                <div class="small-12 medium-9 columns">
                    <h4 class="subheader">Fotografowanie oraz filmy promocyjne z lotu ptaka</h4>
                    <h5 class="subheader h5s">Gwarancja wysokiej jakości materiałów</h5>
                    <p class="subheader"><a href="/fotografowanie">Profesjonalne zdjęcia osób, miejsc, produktów i
                        usług.</a>
                        <a href="/filmowanie-dronem"> Filmowanie z lotu ptaka dronem</a></p>
                    <hr>
                    <div class="button-group">
                        <a class="button" href="/gwarancja-jakosci">Gwarancja jakości</a>
                        <a class="button" href="/program-partnerski">Program partnerski</a>
                    </div>
                </div>
                <div class="small-3 columns hide-for-small-only">
                    <img class="float-left sv" src="/style/images/gwarancja10.svg">
                </div>
            </div>
        </div>
        <br/>
        <div class="callout primary small">
            <div class="row">
                <div class="small-12 columns">
                    <div class="small-3 columns">
                        <img class="float-left" src="/style/images/wd.svg">
                    </div>
                    <div class="small-9 columns">
                        <ul class="no-bullet float-right ">
                            <li><h3 class="h5s">Zmień marzenia w rzeczywistość</h3></li>
                            <li><h5 class="h5s">Wypłyń na szerokie wody e-biznesu</h5></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="small-12 medium-12 large-4 columns ">
        <div class="row small-up-1 medium-up-1 large-up-1" data-equalizer data-equalize-by-row="true">
            <div class="column"><img class="float-right" src="/style/images/A17.jpg"></div>
        </div>
    </div>
</div>
<script>
    $(document).foundation();
</script>

