<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
            <!-- Close button -->
            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            <br><br>
            <img class="float-right" src="/style/images/A21.jpg">
            <!-- Menu -->
            <div class="callout biel3">
                <h3><br>
                    <br>Jakub Szlenk</h3>

                <ul class="no-bullet">
                    <li><h5>Zawodowo</h5></li>
                    <li>Projektant Web & Full Stack Web Developer</li>
                </ul>
                <ul class="no-bullet">
                    <li><h5>Filozofia</h5></li>
                    <li>Proste jest dobre</li>
                </ul>
                <ul class="no-bullet">
                    <li><h5>Zainteresowania</h5></li>
                    <li>Design, WebGL, Linux, Arduino, Marketing</li>
                </ul>
                <ul class="no-bullet">
                    <li><h5>Prywatnie</h5></li>
                    <li>Rozwój osobisty, robotyka i himalaje</li>
                    <li>+ żeglarstwo oczywiście</li>
                </ul>
                <h5>Znajdziesz mnie na</h5>
                <div class="button-group">
                    <a class="button hollow biel2" href="https://www.facebook.com">Facebook</a>
                    <a class="button hollow biel2" href="http://www.goldenline.pl">Goldenline</a>
                    <a class="button hollow biel2" href="https://github.com/">Github</a>
                </div>
                <hr>
                <ul class="no-bullet">
                    <li class="szarp sl">Czy robię w PHP ? Przychodzi programista PHP do baru. Barman: "Nie serwujemy tu
                        spaghetti". Programista PHP odwraca się i wychodzi.
                    </li>
                </ul>
            </div>
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
            <div class="row fullWidth">
                <div class="small-12 medium-12 large-8 columns">
                    <br>
                    <h3 class="subheader">O Autorze</h3>
                    <div class="small-12 medium-12 large-12 small-up-2 medium-up-2 large-up-2 columns small ">
                        <div class="row" data-equalizer data-equalize-by-row="true">
                            <div class="small-12 medium-12 large-6 columns callout primary">

                                <ul class="no-bullet">
                                    <li>Siedzi w więzieniu programista. Podchodzi do niego inny więzień i mówi:</li>
                                    <li>– Ty stary, grypsujesz?</li>
                                    <li>– Ja w życiu żadnej gry nie zepsułem!</li>
                                </ul>
                                <h5>Serwus</h5>
                                <p>Na e-rynku funkcjonuję od 2008 roku współpracując z najlepszymi specjalistami w
                                    branży.</p>
                                <p>Wysokie kompetencje pozwalają mi z pełnym przekonaniem stwierdzić, że usługi, które
                                    proponuję są zarówno wydajne,
                                    skuteczne, jak i cechują się elegancką prostotą.</p>
                                <h5>Zadowolony klient to klient rekomendujący</h5>
                                <p>Niemal każde zlecenie jakie wykonuję pochodzi z polecenia. Zaplecze techniczne
                                    umożliwia mi oferowanie wielu
                                    niespotykanych nigdzie indziej funkcji oraz dostosowanie oferty do potrzeb nawet
                                    bardzo wymagającego klienta. W skrócie:</p>
                                <ul class="no-bullet">
                                    <li>Wieloletnie doświadczenie</li>
                                    <li>Nieprzeciętna wiedza</li>
                                    <li>Zaawansowane i niekonwencjonalne technologie</li>
                                    <li>Zdolność kreacji</li>
                                </ul>
                                <p>Kolejnym atutem jest gwarancja jakości oraz pełne wsparcie techniczne usług.
                                    Podsumowując, szukasz nieszablonowego projektu
                                    www, produktywnej aplikacji, reklamy, miejsca i troski dla swojej strony
                                    internetowej? Zapraszam do kontaktu!</p>

                            </div>
                            <div class="small-12 medium-12 large-6 columns">
                                <div class="row">
                                    <div class="small-12 columns subheader">
                                        <h3>Umiejętności programowania</h3>
                                        <h4>Full Stack JavaScript Developer</h4>

                                        <ul class="no-bullet">
                                            <li>MongoDB, Express, Angular, NodeJS</li>
                                        </ul>
                                        <ul class="no-bullet">
                                            <li><h5>Znajomość Narzędzi JS</h5></li>
                                            <li>Backbone, Undescore, jQuery, Motion-UI, D3JS, ThreeJS</li>
                                            <li>TypeScript, NoSQL, ES6, NPM*, Gulp, Grunt, Bower, Jasmine, Karma,
                                                Mocha
                                            </li>
                                        </ul>
                                        <ul class="no-bullet">
                                            <li><h5>Struktura</h5></li>
                                            <li>HTML5, CSS3, LESS, SASS, Stylus</li>
                                            <li>EJS, Jade, Bootstrap, Foundation</li>
                                        </ul>
                                        <ul class="no-bullet">
                                            <li><h5>Dodatkowe technologie</h5></li>
                                            <li>Python, C</li>
                                        </ul>
                                        <ul class="no-bullet">
                                            <li><h5>Oprogramowanie</h5></li>
                                            <li>Webstorm, GIT, Graficzne*</li>
                                        </ul>
                                        <button type="button" class="button dodo float-right" data-toggle="offCanvas">
                                            Czytaj o mnie więcej
                                        </button>

                                        <ul class="no-bullet">
                                            <li><h5>Języki obce</h5></li>
                                            <li>Angielski</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="callout biel small">
                            <div class="row">
                                <div class="small-12 columns">
                                    <div class="small-12 show-for-small-only columns">
                                        <ul class="no-bullet">
                                            <li><h3 class="subheader h5s">Zapraszam do współpracy</h3></li>
                                            <li><h5 class="subheader h5s">Proszę na połkad, czas na wspólne żeglowanie
                                                po internecie</h5></li>
                                        </ul>
                                    </div>

                                    <div class="small-12 columns" style="margin-top: 15px;">
                                        <div class="small-12 show-for-small-only columns">
                                            <img class="float-right" src="/style/images/wds.svg">
                                        </div>
                                    </div>
                                    <div class="medium-4 hide-for-small-only columns">
                                        <img class="float-left" src="/style/images/wds.svg">
                                    </div>
                                    <div class="medium-8 hide-for-small-only columns">
                                        <ul class="no-bullet float-right">
                                            <li><h3 class="subheader h5s">Zapraszam do współpracy</h3></li>
                                            <li><h5 class="subheader h5s">Proszę na połkad, czas na wspólne żeglowanie
                                                po internecie</h5></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-12 medium-12 large-4 columns">
                    <div class="row small-up-1 medium-up-1 large-up-1" data-equalizer data-equalize-by-row="true">
                        <div class="column hide-for-small-only"><img class="float-right" src="/style/images/A15.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(document).foundation();
    });
</script>


