<div class="row fullWidth">
    <br>
    <div class="columns small-12">
        <div class="columns small-12 medium-12 large-8 callout biel">
            <h3 class="subheader h5s">Program partnerski</h3>
            <ul class="no-bullet">
                <li><h5 class="h5s subheader">Polecaj znajomym nasze usługi i otrzymuj prowizję od ich wpłat.</h5></li>
                <li><h5 class="h5s subheader">Użytkownicy, których polecisz zyskują 20% zniżki - Ty otrzymujesz 20% ich
                    pierwszej wpłaty!</h5></li>
            </ul>
            <br>
            <h4 class="subheader h5s">Kto na tym korzysta?</h4>
            <ul class="no-bullet">
                <li><h5 class="subheader h5s">Polecający</h5></li>
                <li>Za polecenie użytkownika otrzymujesz 20% wartości pierwszego zamówienia jego wpłaty. Możesz
                    otrzymywać następnie 10% wartości każdego następnego
                    zamówienia poleconego.
                </li>
            </ul>
            <ul class="no-bullet">
                <li><h5 class="subheader h5s">Polecony</h5></li>
                <li>Użytkownik korzystający z polecenia otrzymuje 20% zniżki.</li>
            </ul>
            <h4 class="subheader h5s"> Jak to działa?</h4>
            <p>To bardzo przejrzyste warunki bo program partnerski działa dla każdej pierwszej wpłaty na dowolną usługę
                w naszej firmie.</p>
            <h4 class="subheader h5s">Jak kogoś polecić?</h4>
            <ul class="no-bullet">
                <li><h5 class="subheader h5s">Kod polecającego</h5></li>
                <li class="">Prześlij swojemu znajomemu swój kod polecającego. Otrzymujesz go wraz z pierwszym
                    zamówieniem. W przypadku podania kodu
                    polecającego, użytkownik musi go podać przy tworzeniu nowego zamówienia w FireLink.
                </li>
            </ul>
            <ul class="no-bullet">
                <li><h5 class="subheader h5s">Imię i nazwisko</h5></li>
                <li class="">Nie musisz być naszym klientem, aby dołączyć do programu partnerskiego. Wystarczy, że osoba
                    polecona poda dane osoby polecającej
                    przy ustalaniu zamówienia.
                </li>
            </ul>
        </div>
        <div class="columns small-12 medium-12 large-4 primary callout" data-closable="fade-out">
            <!--  <button aria-controls="motion-example-1" type="button" class="button  float-right" data-toggle="motion-example-1">Fade</button>
              <div class="large-4 columns float-right">
                  <div style="display: block; top: 60px; left: 10px;" aria-expanded="true" data-toggler="va7w5x-toggler" data-animate="fade-in fade-out" class="callout secondary ease float-right" id="motion-example-1">-->
            <h5 class="h5s">Program partnerski - Zarabiaj z FireLink!</h5>
            <p>Zapraszamy do współpracy handlowców oraz firmy chcące rozszerzyć swoją działalność o sprzedaż usług
                internetowych.
                Oferujemy dostęp do najnowocześniejszych i sprawdzonych technologii, możliwość szybkiego wdrożenia oraz
                wsparcie techniczne.</p>
            <h5 class="h5s">Rozpocznij już teraz sprzedaż:</h5>
            <ul class="no-mbullet">
                <li>Stron internetowych</li>
                <li class="">Aplikacji Web</li>
            </ul>
            <ul class="no-bullet">
                <li>Pełna oferta na stronie <a href="/strony-internetowe-economy">firelink.pl</a></li>
                <li>Zapraszamy do kontaktu!</li>
            </ul>
            <button class="close-button" aria-label="Zamknij okienko" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!--</div>-->
    </div>
</div>
<script>
    $(document).ready(function () {
        $(document).foundation();
    });
</script>