<div class="row fullWidth">
    <div class="small-12 medium-12 large-7 columns">
        <br>
        <h3 class="subheader">Strony www Premium</h3>
        <div class="expanded button-group">
            <a class="button" href="/strony-internetowe-economy">Strony Economy</a>
            <a class="hollow button" href="/strony-internetowe-premium">Strony Premium</a>
            <a class="button" href="/aplikacje-biznesowe">Aplikacje Business</a>
        </div>
        <div class="expanded button-group">
            <a class="button" href="/fotografowanie">Fotografowanie</a>
            <a class="button" href="/filmowanie-dronem">Filmowanie Dronem</a>
        </div>
        <ul class="tabs" data-tabs id="example-tabs">
            <li class="tabs-title is-active"><a href="#panel1" class="tabs44" aria-selected="true">Strona Firmowa</a>
            </li>
            <li class="tabs-title"><a href="#panel2" class="tabs44">Strona Firmowa CMS</a></li>
            <li class="tabs-title"><a href="#panel3">Portal WWW</a></li>
            <li class="tabs-title hide-for-small-only"><a href="#panel4">Pozycjonowanie Mocne</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="panel1">
                <h4 class="subheader h5s">Firmowa e-Wizytówka</h4>
                <p>Projektowane strony internetowe są szyte na miarę. Kreatywność i funkcjonalność w jednym.</p>
                <p>Wiemy jak ważne jest pierwsze wrażenie. Stworzymy graficzny koncept Twojej strony internetowej, który
                    przykuje uwagę, zostanie zapamiętany
                    przez użytkownika zachęci do zapoznania się z ofertą firmy. Projektujemy z myślą o potrzebach
                    Klienta, dopasowując grafikę do profilu
                    działalności / branży.</p>
                <p>Wizytówki www są bardzo ciekawą ofertą dla osób szukających skromnej strony internetowej, która ma po
                    prostu dobrze komunikować usługi,
                    produkty, czy idee. Bardzo ważnym argumentem jest także cena – prosta i elegancka wizytówka będzie
                    tańsza od efektownego serwisu, a może
                    osiągać porównywalnie dobre rezultaty. Jeśli szukasz takiego rozwiązania i chciałbyś poznać
                    prawdziwe przykłady, skontaktuj się z nami.
                    Jesteśmy do Twojej dyspozycji.</p>
                <h5 class="subheader h5s">Zyskujesz</h5>
                <ul class="no-bullet przesun">
                    <li>Domenę i Hosting gratis na 2 lata</li>
                    <li>Bezbłędnie zaprojektowaną i zbudowaną wizytówkę www (czysty kod źródłowy),</li>
                    <li>Solidne przetestowanie skryptu oraz struktury zgodnie ze standardami W3C (Gwarancja jakości),
                    </li>
                    <li>Optymalizację Państwa witryny pod kątem wyszukiwarek internetowych (SEO),</li>
                    <li>Pozycjonowanie wstępne w wyszukiwarkach Polskich i zagranicznych,</li>
                    <li>Dokładne statystyki,</li>
                </ul>
                <p>Utworzone strony są bardzo dobrze indeksowane i pozycjonowane przez wyszukiwarki, oraz mają "czysty",
                    bezbłędny kod HTML. Całe kodowanie
                    wykonujemy ręcznie od podstaw co daje pewność bezbłędnego działania.</p>
            </div>
            <div class="tabs-panel" id="panel2">
                <h4 class="subheader h5s">Strona firmowa z dedykowanym CMS</h4>
                <p>Projekt oryginalnej strony internetowej, głównie stawiając na siłę wyrazu i funkcjonalność.</p>
                <p>Posiadanie wyróżniającej się markowej strony buduje prestiż firmy oraz pozwala przekonać do swoich
                    usług / produktów nowych klientów.
                    Odpowiedni projekt graficzny zapewnia spójność z charakterem prowadzonej działalności, a
                    indywidualny kod strony optymalną
                    funkcjonalność.</p>
                <h5 class="subheader h5s">To nie jest WordPress</h5>
                <p>Jeżeli opatrzyły się Tobie już monotonne strony na WordPressie i szukasz czegoś niesztampowego, to ta
                    oferta jest właśnie dla Ciebie.</p>
                <p>Siła tkwi w prostocie. Obsługa strony jest zminimalizowana w celu uniknięcia błędów w kodzie strony i
                    ułatwienia jej edycji. Dzięki temu ma
                    się pewność, że w panelu administracyjnym zmienią się wyłącznie edytowane treści.</p>
                <h5 class="subheader h5s">Zyskujesz</h5>
                <ul class="no-bullet przesun">
                    <li>Rozbudowaną stronę www prezentującą ofertę firmy, wzbogaconą o zdjęcia, elementy interaktywne,
                        unikalną szatę graficzną, optymalizacje
                        wysokiej klasy kodu, szybkość i sprawność działania oraz dowolną strukturę podstron,
                    </li>
                    <li>Autorski CMS,Edycję zakładek takich jak: Okno dialogowe, Aktualności, Wiadomości, Oferta,
                        Cennik, Współpraca,
                    </li>
                    <li>Awangardowy projekt i pomoc techniczną</li>
                </ul>
            </div>
            <div class="tabs-panel" id="panel3">
                <h4 class="subheader h5s">Dochodowy serwis internetowy</h4>
                <p>Portal to strona, której zadaniem jest świadczenie dowolnej usługi online. Cały kod strony www pisany
                    jest indywidualnie dla każdego
                    projektu, przez co funkcjonalność zostaje idealnie dopasowana do wymagań serwisu.</p>
                <p>Odpowiednio prowadzony i reklamowany serwis internetowy może stać się wysoce dochodową działalnością.
                    Comiesięczne koszty związane z
                    prowadzeniem serwisu z reguły stanowią mały procent generowanych zysków, dlatego uruchomienie
                    atrakcyjnego serwisu będzie przysłowiową żyłą
                    złota. Do serwisów zaliczamy m.in. serwisy aukcyjne, ogłoszeniowe, informacyjne oraz portale.</p>
                <h5 class="subheader h5s">Portale ogłoszeniowe i społecznościowe</h5>
                <p>Portale ogłoszeniowe dla użytkowników są źródłem informacji, ale są także doskonałym i bardzo
                    skutecznym narzędziem biznesowym.</p>
                <p>Internet to bezkresne morze możliwości komunikacyjnych. Warto dostrzec potencjał drzemiący w różnego
                    rodzaju witrynach i portalach. Jeśli
                    masz własną firmę, lub pomysł na biznes, możesz wykorzystać Internet bardzo skutecznie. W ramach
                    usługi proponujemy:</p>
                <ul class="no-bullet przesun">
                    <li>Zarabiające na Ciebie portale ogłoszeniowe</li>
                    <li>Wzmacniające wizerunek portale społecznościowe</li>
                </ul>
                <p>Portale społecznościowe przestały być tylko miejscem rozrywki i spotkań. Nabrały marketingowego
                    charakteru i stały się efektywnym narzędziem
                    wizerunkowym. Stworzymy portal, który pozwoli dotrzeć do grupy docelowej oraz za pośrednictwem
                    którego osiągniesz nowy wymiar komunikacji z
                    odbiorcami.</p>
            </div>
            <div class="tabs-panel" id="panel4">
                <h4 class="subheader h5s">Pozycjonowanie</h4>
                <p>Zaletą mocnego pozycjonowanie oraz kampanii reklamowych w internecie jest wzrost widoczności i
                    rozpoznawalności, zwiększenie konwersji i
                    wzrost wartościowego ruchu na stronie, a to spowoduje wzrost sprzedaży oferowanych produktów lub
                    usług. Dzięki dobrze przygotowanej kampanii
                    dotrzesz do użytkowników, którzy poszukują konkretnego produktu.</p>
                <h5 class="subheader h5s">Odpowiednio przygotowana kampania generuje zyski</h5>
                <ul class="no-bullet przesun">
                    <li>Wysoką skuteczność pozycjonowania,</li>
                    <li>Bezpieczeństwo praktyk SEO/SEM,</li>
                    <li>Bogatą i przemyślaną dywersyfikację źródeł linków</li>
                </ul>
                <p>Oferta ustalana jest indywidualnie wedle potrzeb oraz oszacowania opłacalności inwestycji w
                    usługę.</p>
            </div>
        </div>
    </div>
    <div class="small-12 medium-12 large-5 columns  "><br>
        <h3 class="subheader">Twoja firma dostanie wiatru w żagle</h3>
        <div class="row small-up-1 medium-up-1 large-up-1" data-equalizer data-equalize-by-row="true">
            <div class="column hide-for-small-only"><img src="/style/images/A25.jpg"></div>
        </div>
        <br>
        <div class="callout primary">
            <div class="row">
                <div class="small-6 columns">
                    <ul class="no-bullet  float-left">
                        <li><h5 class="h5s">Zacznijmy e-Rejs od www</h5></li>
                        <li>Strona internetowa Premium</li>
                        <li>Kreatywne wyrażenie marki, oryginalny projekt</li>
                    </ul>
                </div>
                <div class="small-6 columns">
                    <img class="float-right" src="/style/images/wd.svg">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(document).foundation();
    });
</script>