<div class="row fullWidth">
    <div class="small-12 medium-12 large-7 columns">
        <br>
        <h3 class="subheader">Strony www Economy</h3>
        <div class="hide button-group medium-collapse">
            <a class="button" href="/strony-internetowe-economy">Strony Economy</a>
            <a class="hollow button" href="/strony-internetowe-premium">Strony Premium</a>
            <a class="hollow button" href="/aplikacje-biznesowe">Aplikacje Business</a>
            <a class="hollow button" href="/fotografowanie">Fotografowanie</a>
            <a class="hollow button" href="/filmowanie-dronem">Filmowanie Dronem</a>
        </div>
        <div class="show-for-small  expanded button-group">
            <a class="hollow button" href="/strony-internetowe-economy">Strony Economy</a>
            <a class="button" href="/strony-internetowe-premium">Strony Premium</a>
            <a class="button" href="/aplikacje-biznesowe">Aplikacje Business</a>
        </div>
        <div class="show-for-small  expanded button-group">
            <a class="button" href="/fotografowanie">Fotografowanie</a>
            <a class="button" href="/filmowanie-dronem">Filmowanie Dronem</a>
        </div>
        <ul class="tabs" data-tabs id="example-tabs">
            <li class="tabs-title is-active"><a href="#panel1" class="tabs44" aria-selected="true">Strona Wizytówka</a>
            </li>
            <li class="tabs-title"><a href="#panel2" class="tabs44">Strona CMS</a></li>
            <li class="tabs-title"><a href="#panel3">Sklep WWW</a></li>
            <li class="tabs-title hide-for-small-only"><a href="#panel4">Pozycjonowanie</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="panel1">
                <h4 class="subheader h5s">e-Wizytówka</h4>
                <p>Estetyczna i funkcjonalna strona internetowa nie musi być droga.</p>
                <p>Ofertę na wykonanie strony wizytówki kierujemy do wszystkich, którzy pragną posiadać swoją stronę w
                    Internecie, a jednocześnie nie chcą
                    inwestować dużych pieniędzy na realizację tego celu. W tej ofercie liczy się przede wszystkim
                    oszczędność.</p>
                <h5 class="subheader h5s">Zalety posiadania strony wizytówki</h5>
                <ul class="no-bullet przesun">
                    <li>Bardzo niskie koszty założenia i utrzymania działania strony</li>
                    <li>Możliwość szybkiego odnalezienia danych kontaktowych</li>
                    <li>Posiadanie unikalnej nazwy strony (domeny)</li>
                    <li>Posiadanie specjalnie przygotowanego adresu e-mail z nazwą Twojej firmy</li>
                    <li>Pojawianie się na pierwszym miejscu w wyszukiwarce Google po wpisaniu nazwy, o ile jest to nazwa
                        unikalna na rynku
                    </li>
                    <li>Łatwiejsze, późniejsze przystosowanie strony pod pozycjonowanie</li>
                    <li>Klienci mogą zobaczyć logo na stronie, co pozwoli im łatwiej zapamiętać Twoją nazwę i
                        działalność
                    </li>
                </ul>
                <a class="button hide-for-small-only" id="button2">Pokaż przykład</a>
                <div class="row" id="miniatura" style="display: none">
                    <div class="small-4 columns">
                        <img class="thumbnail" src="/style/images/P1.jpg" id="series-example-1">
                    </div>
                    <div class="small-4 columns">
                        <img class="thumbnail" src="/style/images/P2.jpg" id="series-example-2">
                    </div>
                    <div class="small-4 columns">
                        <img class="thumbnail" src="/style/images/P3.jpg" id="series-example-3">
                    </div>
                </div>
            </div>
            <div class="tabs-panel" id="panel2">
                <h4 class="subheader h5s">Strona z samodzielną administracją</h4>
                <p>Twoja strona www zostanie wyposażona w intuicyjny w obsłudze system do samodzielnej edycji z poziomu
                    przeglądarki (panel administratora).
                    System
                    jest przyjazny dla wyszukiwarki Google, a przez nasze odpowiednie zabiegi SEO Twoja strona
                    internetowa będzie lepiej widoczna w wynikach
                    wyszukiwania.</p>
                <p>Panel administratora czyli system CMS do zarządzania strony internetowej umożliwia między innymi
                    edycję treści, dodanie zdjęć, tworzyć nowe
                    podstrony, edytować obecne czy zmieniać ich wygląd.</p>
                <p>Możliwości panelu są ogromne, pozwalają na całkowitą zmianę wyglądu podstrony - dowolne ułożenie
                    treści. Edycja treści przypomina program
                    Office.</p>
                <h5 class="subheader h5s">Panel administratora pozwala na zainstalowanie dodatkowych modułów</h5>
                <ul class="no-bullet przesun">
                    <li>Newsletter,</li>
                    <li>Wyszukiwarka,</li>
                    <li>Dodatkowe wersje językowe,</li>
                    <li>Galerię</li>
                    <li>Formularz,</li>
                    <li>System aktualności pobierający treści z nowych wpisów dla wybranych kategorii,</li>
                </ul>
                <p>CMS to doskonałe narzędzie dla wszystkich ceniących autonomię.</p>
            </div>
            <div class="tabs-panel" id="panel3">
                <h4 class="subheader h5s">Sprzedawaj więcej przez e-Sklep</h4>
                <p>Sklep internetowy już w swojej podstawowej formie pozwala właścicielowi na dużo większą swobodę
                    prezentowania informacji. Podstawową zaletą
                    własnego sklepu
                    elektronicznego – w odróżnieniu od aukcji Allegro – jest całkowity brak ograniczeń dotyczących
                    sposobu prezentacji oferty, układu
                    graficznego, jej
                    składu, czasu wystawienia czy objętości.</p>
                <p>Strona internetowe posiadają grafikę indywidualnie przygotowywaną i zaprojektowaną pod kątem
                    prezentowanej oferty. Ich układ graficzny,
                    metoda
                    prezentacji oferty i treści odpowiadają potrzebą klienta, często dyktowaną standardom internetowym
                    specyficznym dla określonej branży lub
                    asortymentu.</p>
                <p>Poza standardowymi informacjami takimi jak kontakt lub referencje e-sklep pozwala na zamieszczenie
                    dodatkowych informacji, które
                    mogą w sposób znaczący ułatwić komunikację serwisową, marketingową lub informacyjną pomiędzy
                    klientem a przedsiębiorcą lub właścicielem
                    serwisu
                    a jego odbiorcami.</p>
                <h5 class="subheader h5s">Nowoczesna platforma dla e-biznesu</h5>
                <ul class="no-bullet przesun">
                    <li>Bogate w funkcjonalności oprogramowanie,</li>
                    <li>Wdrożenie systemu płatności dla sklepu,</li>
                    <li>Konfiguracja esklepu,</li>
                    <li>Szkolenie z obsługi osobiste lub online,</li>
                    <li>Wsparcie techniczne,</li>
                    <li>Szybka fachowa pomoc</li>
                </ul>
            </div>
            <div class="tabs-panel" id="panel4">
                <h4 class="subheader h5s">Pozwól się wyszukać</h4>
                <p>Aby Twoja strona nie pozostała samą wizytówką należy zadbać o jej pozycjonowanie.</p>
                <p> Pozycjonowanie i optymalizacja sprawią, że potencjalny klient
                    zainteresuje się produktem lub usługą, które oferujesz. Ponadto dotrzesz z informacją o nowych
                    promocjach do Klientów, którzy są
                    zainteresowani
                    podobnym produktem.</p>
                <h5 class="subheader h5s">Już za niewielką kwotę wykonamy</h5>
                <ul class="no-bullet przesun">
                    <li>Pozycjonowanie strony, poprzez jej bieżący monitoring,</li>
                    <li>Dobór odpowiednich słów kluczowych,</li>
                    <li>Audyt dostępności i funkcjonalności witryny,</li>
                    <li>Zarejestrowanie witryny internetowej w branżowych katalogach,</li>
                    <li>Pełen zakres działań marketingowych</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="small-12 medium-12 large-5 columns  "><br>
        <h3 class="subheader">Twoja firma dostanie wiatru w żagle</h3>
        <div class="row small-up-1 medium-up-1 large-up-1" data-equalizer data-equalize-by-row="true">
            <div class="column hide-for-small-only"><img src="/style/images/A25.jpg"></div>
        </div>
        <br>
        <div class="callout primary">
            <div class="row">
                <div class="small-6 columns">
                    <ul class="no-bullet  float-left">
                        <li><h5 class="h5s">Zacznijmy e-Rejs od www</h5></li>

                        <li>Strona wizytówka</li>
                        <li>Skuteczna reklama, niski koszt</li>
                    </ul>

                </div>
                <div class="small-6 columns">
                    <img class="float-right" src="/style/images/wd.svg">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(document).foundation();
    });

    $('.columns').removeClass('is-animating');
    $("#button2").click(function () {

        $('body').css('overflowY', 'hidden');
        $('#miniatura').css("display", "block");
        $('.columns').addClass('is-animating');

        setTimeout(function () {
            $('body').css('overflowY', 'auto');
        }, 2200);

    });

    $(".tabs44").click(function () {
        $('#miniatura').css("display", "none");
        $('.columns').removeClass('is-animating');

    });
</script>
